<app-navbar></app-navbar>

<div class="container mt-5">
  <div>
    <h2 class="fw-bold">DashBoard</h2>
    <div>THINKVIEW ATTENDANCE</div>
  </div>

  <div class="db-catergories-section">
    <div class="card db-card-customs" routerLink="/registration">
      <img
        class="card-img-top png-color"
        src="./assets/employeeicon.png"
        alt="Card image cap"
      />
      <div class="card-body text-center">
        <h5 class="card-subtitle fw-bolder">Employee Registration</h5>
      </div>
    </div>

    <div class="card db-card-customs" routerLink="/daily">
      <img
        class="card-img-top png-color"
        src="./assets/dailyicon.png"
        alt="Card image cap"
      />
      <div class="card-body text-center">
        <h5 class="card-subtitle fw-bolder">Attendace Daily</h5>
      </div>
    </div>

    <div class="card db-card-customs" routerLink="/monthly">
      <img
        class="card-img-top png-color"
        src="./assets/monthlyicon.png"
        alt="Card image cap"
      />
      <div class="card-body text-center">
        <h5 class="card-subtitle fw-bolder">Attendace Monthly</h5>
      </div>
    </div>

    <div class="card db-card-customs" routerLink="/manual">
      <img
        class="card-img-top png-color"
        src="./assets/addattendance.png"
        alt="Card image cap"
      />
      <div class="card-body text-center">
        <h5 class="card-subtitle fw-bolder">Manual Attendance</h5>
      </div>
    </div>
  </div>
</div>
