<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="row">
    <div class="d-flex justify-content-between row w-100 mb-5">
      <div class="col-6">
        <form
          [formGroup]="searchForm"
          (ngSubmit)="searchForm.valid && loadData()"
        >
          <div class="col-12 d-flex gap-4" *ngIf="employeeIds.length > 0">
            <div class="d-flex gap-4">
              <app-typeahead-form
                [label]="'Reg No'"
                [data]="employeeIds"
                [formControl]="$any(searchForm.controls['regNo'])"
              ></app-typeahead-form>
            </div>

            <label class="fw-bold" *ngIf="username != ''"
              >Username : {{ username }}</label
            >
          </div>

          <div class="col-6">
            <app-date-form
              [label]="'Start date'"
              [formControl]="$any(searchForm.controls['inTime'])"
            ></app-date-form>
          </div>

          <div class="col-6">
            <app-date-form
              [label]="'End Date'"
              [formControl]="$any(searchForm.controls['endTime'])"
            ></app-date-form>
          </div>
          <div class="row">
            <div class="col-2">
              <button class="btn btn-primary w-100">Load</button>
            </div>
          </div>
        </form>
      </div>

      <div
        class="col-6 d-flex justify-content-center align-items-center"
        *ngIf="imageUrl !== '' && (attendance$ | async) !== null"
      >
        <img [src]="imageUrl" class="img-fluid w-50" alt="image" />
      </div>
    </div>

    <div class="row">
      <table class="table" *ngIf="attendance$">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Day of the week</th>
            <th scope="col">InTime</th>
            <th scope="col">OutTme</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of attendance$ | async">
            <td class="fw-bold d-flex">
              <div class="mt-2">{{ item.date | date : "MMM d, y" }}</div>
            </td>

            <td class="fw-bold">
              <div class="mt-2">
                {{ item.inTime | date : "EEEE" }}
              </div>
            </td>

            <td class="fw-bold">
              <div class="mt-2">
                {{ item.inTime | date : "h:mm:ss a" }}
              </div>
            </td>
            <td class="fw-bold">
              <div class="mt-2">
                {{ item.outTime | date : "h:mm:ss a" }}
              </div>
            </td>
            <td>
              <button
                class="btn btn-success mt-2"
                *ngIf="item.inTime && item.outTime"
              >
                Present
              </button>
              <button
                class="btn btn-danger mt-2"
                *ngIf="!item.inTime && !item.outTime"
              >
                Present
              </button>
              <button
                class="btn btn-danger mt-2"
                *ngIf="item.inTime && !item.outTime"
              >
                Did not check out
              </button>
              <button
                class="btn btn-danger mt-2"
                *ngIf="!item.inTime && item.outTime"
              >
                Did not check in
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
